.App {
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 2.9rem;
}

/* =========== HOME =============*/
.main_container_overview {
  width: 50vw;
  margin: auto;
  text-align: left;
  margin-top: 70px;

}

.main_container_overview article:nth-of-type(1) {
  margin-bottom: 80px;
}

.main_container_overview img {
  width: 100%;

}

.container_overview {
  background-color: #FFCA41;
}

.container_overview a {
  /* background-color: #FFCA41; */
  padding-bottom: 4.5rem;
  text-decoration: none;
  color: white;
}

.container_overview h2 {
  margin-top: 0;
  text-align: center;
}

/* =========== Productlist =============*/

.container_beers {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
  gap: 20px;
  padding: 10px 0;
}

.body_beerlist {
  width: 60vw;
  margin: auto;
}

h3 {
  color: #FFCA41;
  font-size: 1.3rem;
}

hr {
  height: 1px;
  background-color: grey;
}

.product_items {
  width: 30%;
  min-width: 5vw;
}

.text_items_container {
  text-align: left;
  width: 29vw;
}


.container_singleproduct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  margin: auto;
  padding: 50px 0;
}

.text_items_container {
  width: 50%;
}

.image_container {
  width: 50%;
}

.button_product {
  background-color: #FFCA41;
  padding: 5px 40px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}

.last_p {
  margin-bottom: 40px;
}


/* =========== Footer =============*/


.footer {
  background-color: #FFCA41;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.footer img {
  width: 80px;
}

/* =========== DetailPage =============*/

.detailsite {
  width: 60vw;
  margin: auto;
}


.container_detailsite {
  width: 50vw;
  text-align: left;
  margin: auto;
}

.container_detailsite p:nth-of-type(1),
p:nth-last-of-type(2) {
  color: grey;
  margin-bottom: 2%;
}

.container_detailsite img {
  width: 25%;
  text-align: center;
}

.container_detailsite div:nth-last-of-type(2) {
  text-align: center;
}

.backPfeil img {
  width: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}